<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <var><title>Top Cities</title></var>
</head>
<body>
    <header><h1>Welcome <var>Jaskaran</var>, here are top destinations!</h1></header>
    <a href="https://www.google.com/">goooogle</a>

    <div>
        <ul>
            <li>Paris</li>
            <li>London</li>
            <li>Rome</li>
            <li>Tahiti</li>
        </ul>
    </div>

    <form action="">
        <label for="City name">City name</label>
        <input type="text" id="City name" name=name>
    </br>
    </br>
        <label for="City Rank">City Rank</label>
        <input type="int" id="City Rank" name=rank>
    </br>
        <p>Visited <input type="checkbox" id="vehicle1" name="vehicle1" value=""> </p>

        <p>Submit <input type="submit" value="Submit"></p>
    </form>
    
</body>
</html>